@media (max-width: 768px) {
	.visible-xs {
		display: block !important;
	}
	
	.visible-sm {
		display: none !important;
	}
	
	.visible-md {
		display: none !important;
	}
	
	.visible-lg {
		display: none !important;
	}
	
	.hidden-xs {
		display: none !important;
	}
	
	.hidden-sm {
		display: block !important;
	}
	
	.hidden-md {
		display: block !important;
	}
	
	.hidden-lg {
		display: block !important;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.visible-xs {
		display: none !important;
	}
	
	.visible-sm {
		display: block !important;
	}
	
	.visible-md {
		display: none !important;
	}
	
	.visible-lg {
		display: none !important;
	}
	
	.hidden-xs {
		display: block !important;
	}
	
	.hidden-sm {
		display: none !important;
	}
	
	.hidden-md {
		display: block !important;
	}
	
	.hidden-lg {
		display: block !important;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.visible-xs {
		display: none !important;
	}
	
	.visible-sm {
		display: none !important;
	}
	
	.visible-md {
		display: block !important;
	}
	
	.visible-lg {
		display: none !important;
	}
	
	.hidden-xs {
		display: block !important;
	}
	
	.hidden-sm {
		display: block !important;
	}
	
	.hidden-md {
		display: none !important;
	}
	
	.hidden-lg {
		display: block !important;
	}
}

@media (min-width: 1200px) {
	.visible-xs {
		display: none !important;
	}
	
	.visible-sm {
		display: none !important;
	}
	
	.visible-md {
		display: none !important;
	}
	
	.visible-lg {
		display: block !important;
	}
	
	.hidden-xs {
		display: block !important;
	}
	
	.hidden-sm {
		display: block !important;
	}
	
	.hidden-md {
		display: block !important;
	}
	
	.hidden-lg {
		display: none !important;
	}
}